.trainGame-wrapper {
    text-align: center;
    color:black;
    margin-top: 56px;
}

.trainGame-title {
    padding-bottom: 2vh;
    width: 60%;
    margin: auto;
}

.solutions {
    padding-top: 2vh;
    padding-bottom: 20vh;
}

.error {
    padding-top: 2vh;
    color: red;
}

.app-image {
    width: 50%;
}